<?xml version="1.0"?>
<launch>
	<include file="$(find marco_nav)/launch/hector_mapping.launch" /> 
  	<!--node pkg="marco_nav" type="hector_to_odom.py" name="hector_to_odom" /-->
  

 	<!--  **************** Visualisation ****************  -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find marco_nav)/Rviz/hector.rviz" />



 <node pkg="tf2_ros" type="static_transform_publisher" name="global_map" args="5 5 0 0 0 0 global_map map_hector" />
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find marco_nav)/param/nav_dinamico/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find marco_nav)/param/nav_dinamico/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find marco_nav)/param/nav_dinamico/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find marco_nav)/param/nav_dinamico/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find marco_nav)/param/nav_dinamico/base_local_planner_params.yaml" command="load" />
    </node>
</launch>
